.container {
    display: flex;
    align-items: center;
}

.container input {
    height: 40px;
    border-radius: 10px 0 0 10px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    flex: 1;
    width: calc(100% - 40px);
}

.searchBtn {
    height: 40px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: var(--p2-color);
}

.searchBtn span {
    width: 20px;
    height: 20px;
}