.container {
  max-width: 240px;
  width: 240px;
  background-color: white;
  height: 100%;
  min-height: calc(100vh - 90px);
}

.titleContainer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.titleContainer h2 {
  font-size: 1rem;
  color: var(--color-text);
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.listUl {
  list-style: none;
  width: 100%;
}

.listUl li {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 15px
}

.listUl li:hover {
  cursor: pointer;
}



.btn {
  margin-left: 15px;
  border: none;
  height: 50px;
  color: var(--color-text);
  background-color: transparent;
}

.active {
  background-color: hsla(196, 100%, 18%, 0.12);
}

/* tablet */
@media screen and (max-width: 916px) {
  .container {
    width: 100%;
    min-height: 0;
    max-width: 100%;
    height: max-content;
    position: relative;
    top: 0;
  }

  .titleContainer {
    width: 100%;
  }

  .titleContainer h2::after {
    content: '▼';
  }

  .listUl {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }



  .overlay {
    display: none;
    position: fixed;
    top: 130px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.172);
    width: 100vw;
    height: calc(100vh - 130px);
    z-index: 1;
  }


  .fixed {
    position: fixed;
    z-index: 2;
  }

  .optionsContainer {
    margin: 0;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    top: 142px;
    display: none;
  }

  .show {
    display: initial;
  }
}

@media screen and (max-width: 637px) {
  .optionsContainer {
    top: 183px;
  }
}