.container {
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 110px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.productImage {
  position: relative;
  width: calc(10% - 10px);
  height: 100%;
  max-height: 180px;
  overflow: hidden;
  /* box-sizing: border-box; */
  padding-right: 10px;
  border-right: 1px solid var(--p3-color);
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 15px;
  max-height: 140px;
  max-width: 100%;
  text-align: start;
  flex: 1;
}

.productInfo .productInfoBrand {
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productInfo .productInfoName {
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productQuantity {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--p3-color);
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
  font-size: 0.75rem;
}

.productQuantity button {
  width: 25px;
  height: 30px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.productTotalPrice {
  flex: 1;
  text-align: end;
  font-weight: bold;
}

/* tablet */
@media screen and (max-width: 916px) {
  .container {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1.5fr 1fr;
    height: 220px;
    padding: 20px 30px;
    /* 3 columnas para tabletas */
  }

  .productImage {
    width: 90%;
  }

  .productQuantity {
    align-self: end;
  }

  .productTotalPrice {
    align-self: end;
  }
}