@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --bg-color: #F3F1F1;
  --bg-modal-color: #00425a67;
  --p1-color: #1F8A70;
  --p2-color: #FC7300;
  --p3-color: #00425A;
  --txt-color: #232323;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
}

* {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px;
  background-color: #1f8a70c7;
}


/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--p3-color);
  height: 50px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #012d3c;
}