.main {
  width: 100%;
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 90px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}